<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>Favoritos</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-title>Vagas Favoritadas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let vaga of vagasFavoritadas" class="custom-item">
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <ion-img [src]="vaga.logoEmpresa" class="custom-logo"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text ion-text-start">
          <h2 class="custom-text-weight">{{ vaga.nome }}</h2>
          <p>{{ vaga.local }}</p>
          <p class="custom-text-color">{{ vaga.tipo }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>