.searchbar {
  padding: 50px 20px;
  text-align: center;
  align-self: center;
  max-width: 98%;
  margin: 0 auto;
  background-color: white;
}

.searchbar-input sc-ion-searchbar-ios {
  padding: 20px;
}

.toolbar {
  --ion-background-color: #ffffff; /* Defina a cor de fundo desejada, neste caso, branco (#ffffff) */
}

.userphoto {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
}
.custom-text-color {
  color: #4640de;
}

.custom-text-weight {
  font-weight: bold;
}

.custom-thumbnail {
  border-radius: 10%;
  background-color: #4640de;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.custom-logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

ion-content,
ion-title,
ion-searchbar,
h2,
p {
  font-family: Inter;
}
